*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    padding: 10px;
}

.logo{
    width: 50px;
}

.Toboolist {
    vertical-align: top;
    font-size: 40px;
}

.main{
    padding: 100px;
    background-color: grey;
}

.button{
    padding: 10px;
    padding-left: 30px;
    border-bottom: 2px solid gray;
    border-radius: 5px;
    background-color: white;
}

.task{
    padding: 50px;
    border-radius: 5px;
    background-color: white;
}

.add-task{
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: blue;
    color: white;
}

.add-section{
    padding: 5px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: white;
    color: grey;
}

